:root {
  --color-negative: rgba(84, 78, 90);
  --color-negative-light: rgba(84, 78, 90, 0.9);
  --color-zero: #fff;
  --color-zero-light: rgba(255, 255, 255, 0.4);
  --color-first: #737b86;
  --color-first-light: #acacac;
  --color-second: #e3ac3c;
}
