.container-braven {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../../img/braven.png") no-repeat -250px 0;
  background-size: auto 100%;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  font-weight: bold;
  padding: var(--spacing-container-top) var(--spacing-container-right)
    var(--spacing-container-bottom) var(--spacing-container-left);
  overflow-x: hidden;
  min-width: 375px;
  min-height: 812px;
}

@media (min-width: 980px) {
  .container-braven {
    background-position: center;
  }
}
