.container-braven {
  background-image: url(../../img/braven.png);
  background-size: auto 100%;
  background-position: -250px 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  font-weight: bold;
  padding-top: 7.389vh;
  padding-left: 9.6vw;
  padding-right: 9.6vw;
  padding-bottom: 2.71vh;
}
