.header-braven {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-big);
}

.header-braven > .title {
  font-size: 1.176em;
  text-transform: uppercase;
  color: var(--color-zero);
  letter-spacing: 1.2em;
}
